@model Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Sistema para compra e venda de produtos artesanais</a>.</p>
    <p><em>Sustentável e sem burocracia</a>.</em></p>
</div> 