
<body>
    <div class="btn-container text-center">
        <h2 class="display-5">Escolha o tipo de cadastro:</h2>
    </div>
    <div class="btn-container text-center mt-5">
        <a class="btn btn-lg btn-primary" asp-controller="Usuario" asp-action="CadastroConsumidor">Cadastre-se como consumidor</a>
        <a class="btn btn-lg btn-primary" asp-controller="Usuario" asp-action="CadastroFornecedor">Cadastre-se como fornecedor</a>
    </div>
</body>