@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <i class="bi bi-clock-history display-1 text-primary"></i>
                <h2>Seu cadastro está pendente de aprovação</h2>
                <p>Você receberá um email quando aprovarmos.</p>
            </div>
        </div>
    </div>
</body>
